<h1>{{headerTitle}} {{fullName}}</h1>
<form>
  <fieldset>
    <div>
      <label {{bind-attr for="first_nameField.elementId"}}>First Name</label>
      {{view Ember.TextField valueBinding='first_name' name='first_name' viewName='first_nameField'}}
    </div>
    <div>
      <label {{bind-attr for='last_nameField.elementId'}}>Last Name</label>
      {{view Ember.TextField valueBinding='last_name' name='last_name' viewName='last_nameField'}}
    </div>
    <div>
      <label {{bind-attr for='emailField.elementId'}}>Email</label>
      {{view Ember.TextField valueBinding='email' name='email' viewName='emailField'}}
    </div>
    <div>
      <label {{bind-attr for='phoneField.elementId'}}>Phone</label>
      {{view Ember.TextField valueBinding='phone' name='phone' viewName='phoneField'}}
    </div>
    <a href='#' {{action save}} class='btn btn-success'>Save</a>
  </fieldset>
</form>
<div class='page-header'></div>

<a href='#' {{action cancel target='controller'}} class='btn btn-inverse'>Cancel</a>
