<h1>{{headerTitle}} {{fullName}}</h1>
<form>
  <fieldset>
    <div>
      <label {{bind-attr for="nameField.elementId"}}>Name</label>
      {{view Ember.TextField valueBinding='name' name='name' viewName='name'}}
    </div>
    <div>
      <label {{bind-attr for='bioField.elementId'}}>Bio</label>
      {{view Ember.TextField valueBinding='bio' name='bio' viewName='bioField'}}
    </div>
    <a href='#' {{action save}} class='btn btn-success'>{{buttonTitle}}</a>
  </fieldset>
</form>
<div class='page-header'></div>

<a href='#' {{action cancel target='controller'}} class='btn btn-inverse'>Cancel</a>
